* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container-hidden {
  transform: translateX(-101%);
}

.nav-container {
  background-color: white;
  transform: translateX(0%);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-logo-img-container {
  margin: 50px 0 0 -10px;
  display: flex;
  justify-content: center;
}

.nav-logo {
  width: 70px;
}

.nav-container,
.nav-container-hidden {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 180px;
  transition: all 250ms ease-in-out;
  padding-left: 10px;
}

.nav-btns {
  width: 30px;
  cursor: pointer;
}

.nav-toggle-btn {
  background: none;
  border: none;
  margin: 10px 0 0 10px;
}

.nav-links {
  margin-top: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-nav-link {
  text-decoration: none;
  color: white;
  background: rgb(152, 190, 32);
  padding: 5px 0 5px 5px;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .nav-container-hidden,
  .nav-container {
    transform: translateX(0);
    position: static;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  .nav-btns {
    display: none;
  }
}
